<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="welcome.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h1> What are the rules of RPS?</h1>
    </header>
    
    <section>  
        
     <p>Although the game has a lot of complexity to it, the rules to play it are pretty simple.
        The game is played where players deliver hand signals that will represent the elements of the game; rock, paper and scissors. The outcome of the game is determined by 3 simple rules:</p>
 
     <p>Rock wins against scissors.
        Scissors win against paper.
        Paper wins against rock.</p>
    
    </section>

  
        
</body>
</html>


